<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin Wallet</title>

    <script src="../../node_modules/@nimiq/core-web/web-offline.js"></script>
    <script src="vendor/nodebuffer.js"></script>
    <script src="vendor/bitcoinjs.js"></script>

    <script src="TestUtils.js"></script>
    <script src="TestData.js"></script>
    <script src="TxUtils.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>Bitcoin Wallet (Testnet)</h1>

    <div id="app">
        <div>
            <label>Mnemonic:</label><br>
            <textarea cols="130" rows="2" v-model="mnemonic"></textarea>
        </div>

        <div>
            <label>Seed:</label><br>
            <textarea cols="130" rows="1" :value="seedHex" disabled></textarea>
        </div>

        <div>
            <label>Account XPub:</label><br>
            <textarea cols="130" rows="1" :value="xpub" disabled></textarea>
        </div>

        <div>
            <h2>Balance: {{ balance / 1e5 }} mBTC = {{ balance / 1e8 }} BTC</h2>
        </div>

        <div>
            <h2>Receive: <code>{{ nextReceivingAddress }}</code></h2>
        </div>

        <div>
            <h2>Send Transaction</h2>
            To: <input type="text" size="50" v-model="txTo"><br>
            Amount: <input type="number" min="0" step="0.00001" v-model="txAmount"> mBTC
            Fee: <input type="number" min="0" step="1" v-model="txFeePerByte"> sat/byte<br>
            <button @click="signTransaction">Sign</button><br>
            <textarea cols="130" rows="4" placeholder="The signed transaction will appear here" v-model="signedTx"></textarea><br>
            <button @click="broadcastTransaction" :disabled="!signedTx">Broadcast</button><br>
        </div>

        <div>
            <h2>Transactions</h2>
            <table>
                <thead>
                    <tr>
                        <th>Hash</th>
                        <th>Confirmed</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tx in txsArray" :key="tx.txid">
                        <td><code>{{ tx.txid }}</code></td>
                        <td style="text-align: center;">{{ tx.status.confirmed }}</td>
                        <td v-if="tx.status.confirmed">{{ tx.status.confirmed ? new Date(tx.status.block_time * 1000).toLocaleString() : '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Unspent Outputs</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Address</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="out in utxos" :key="`${out.hash}:${out.index}`">
                        <td>{{ out.isInternal ? '(int)' : '(ext)' }}</td>
                        <td><code>{{ out.address }}</code></td>
                        <td style="text-align: right;">
                            {{ out.witnessUtxo.value / 1e5 }} mBTC
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="wallet.js"></script>
</body>
</html>
